<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Upload File to Azure Blob Storage</title>
</head>

<body>
    <h1>Upload File to Azure Blob Storage</h1>
    <form action="/auth/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select a file to upload:</label><br>
        <input type="file" id="file" name="image"><br><br>
        <input type="submit" value="Upload">
    </form>
</body>

</html>