<% layout('layouts/boilerplate') %>

    <div class="h-[90vh] bg-slate-600 flex flex-col content-center justify-center">
        <div class="flex flex-col justify-center contents-center gap-8">
            <h1 class="text-6xl text-medium text-white  mx-auto py-8 font-inika">Choose Your Role :)</h1>
            <div class="my-auto flex justify-around w-full flex-wrap gap-6">
                <a href="/restaurants/new">
                    <div class="hover:shadow-2xl p-5 h-48 w-48 bg-white rounded-lg flex flex-col content-center justify-center gap-4">
                        <img src="images/restaurant.png" alt="" class="w-20 mx-auto">
                        <span class="text-bold text-xl text-center font-trocchi">Restaurant</span>
                    </div>
                </a>
                <a href="/receivers/new">
                    <div class="hover:shadow-2xl p-5 h-48 w-48 bg-white rounded-lg flex flex-col content-center justify-center gap-4">
                        <img src="images/thank.png" alt="" class="w-20 mx-auto">
                        <span class="text-bold text-xl text-center font-trocchi">Beneficiary</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
