<nav class="bg-white sticky top-0 z-50">
    <div class="flex flex-wrap items-center justify-between px-2 sm:px-4 py-2">
        <div class="flex items-center h-12">
            <a href="/">
                <img src="/images/logo.svg" alt="My Website Logo" class="h-12">
            </a>
        </div>
        <button id="nav-toggle" type="button" class="sm:hidden inline-flex items-center p-1 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
            </svg>
        </button>
        <div class="hidden flex-col gap-1 sm:flex-row sm:block w-full p-2 mt-2 sm:my-0 sm:w-auto bg-gray-50 sm:bg-transparent rounded-lg" id="nav-content">
            <a href="/" class="block sm:inline-block font-medium text-md sm:text-sm text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 hover:text-gray-800 sm:mx-1 md:mx-2 sm:my-0">Home</a>
            <a href="/about" class="block sm:inline-block font-medium text-md sm:text-sm text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 hover:text-gray-800 sm:mx-1 md:mx-2 sm:my-0">About</a>
            <a href="/contacts" class="block sm:inline-block font-medium text-md sm:text-sm text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 hover:text-gray-800 sm:mx-1 md:mx-2 sm:my-0">Contacts</a>

            <% if(user && role == 'receiver') {%>
                <a href="/receivers/<%= user.documentReferenceId %>" class="block sm:inline-block font-medium text-md sm:text-sm text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 hover:text-gray-800 sm:mx-1 md:mx-2 sm:my-0">My Profile</a>
                <% } else if(user && role == 'donor') { %>
                    <a href="/restaurants/<%= user.documentReferenceId %>" class="block sm:inline-block font-medium text-md sm:text-sm text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 hover:text-gray-800 sm:mx-1 md:mx-2 sm:my-0">My Profile</a>
                    <% } %>
                        <% if(user) { %>
                            <a href="/auth/logout" class="block sm:hidden font-medium text-md sm:text-sm text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 hover:text-gray-800 sm:mx-1 md:mx-2 sm:my-0">Sign Out</a>
                            <% } else { %>
                                <a href="/auth/login" class="block sm:hidden font-medium text-md sm:text-sm text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 hover:text-gray-800 sm:mx-1 md:mx-2 sm:my-0">Sign In</a>
                                <% } %>
        </div>
        <% if(user) { %>
            <a href="/auth/logout" class="hidden sm:block">
                <span class="px-3 py-2 text-sm font-bold text-white rounded-lg bg-gray-500">Sign Out</span>
            </a>
            <% } else { %>
                <a href="/auth/login" class="hidden sm:block">
                    <span class="px-3 py-2 text-sm font-bold text-white rounded-lg bg-gray-500">Sign In</span>
                </a>
                <% } %>
    </div>
</nav>
