<% layout('layouts/boilerplate') %>

    <div class="min-h-[90vh] grid grid-cols-1 md:grid-cols-2 mt-5 md:mt-0 auto-rows-min bg-gray-50">
        <img src="images/about_img.png" alt="" class="md:col-start-2 md:col-span-1 my-auto">
        <div class="m-4 sm:m-5 text-justify md:col-start-1 md:col-span-1 md:row-start-1 md:row-span-1">
            <h1 class="text-3xl md:text-4xl font-medium mb-5 text-center">About Us</h1>
            <p class="mb-3 text-md italic">
                At Annapurna.com, we are on a mission to reduce food waste and fight hunger in our communities. We believe that no one should go hungry, and that there is plenty of food available to help those in need.
            </p>
            <p class="mb-3 text-md italic">
                Our platform connects food donors with local donation receivers, making it easy for restaurants, grocery stores, and other food establishments to donate surplus food to those who need it most. We work with a network of trusted food charities and community
                organizations to ensure that donations are distributed quickly and efficiently to those who need them.
            </p>
            <p class="mb-3 text-md italic">
                Our team is passionate about making a positive impact in our communities, and we are constantly looking for ways to improve our platform and help more people in need. We believe that by working together, we can create a world where food waste is a thing
                of the past and everyone has access to nutritious food.
            </p>
            <p class="mb-3 text-md italic">Thank you for joining us on this mission, and for your support in helping us make a difference in the lives of others.</p>
        </div>
    </div>
