<% layout('layouts/boilerplate') %>

    <div class="pb-4 bg-gray-100 min-h-[90vh] flex flex-col justify-center items-center gap-2">
        <div class="mx-auto">
            <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_tonsVH.json" background="transparent" speed="1" class="w-full sm:w-3/4 mx-auto" loop autoplay></lottie-player>
            <span class="capitalize text-gray-600 font-medium text-xl md:text-2xl text-center block mx-auto">Sorry, we couldn't find what you are looking for!</span>
        </div>
        <a href="/" class="px-3 py-2 mt-4 rounded-md bg-blue-600 hover:drop-shadow-lg hover:bg-blue-700 text-white font-medium text-lg">Go back to Home</a>
    </div>