<% layout('layouts/boilerplate') %>


    <div class="bg-cover h-screen w-full bg-left bg-no-repeat bg-top " style="background-image: url('images/home.svg')">
        <div class="flex flex-col gap-8 content-center justify-center w-full h-full bg-gradient-to-t from-black bg-opacity-0">
            <span class="md:text-7xl text-5xl text-white text-bold text-center font-trocchi tracking-wide">Bringing
        </span>
            <span class="md:text-7xl text-5xl text-white text-bold text-center capitalize font-trocchi tracking-wide">
            Food to the Table</span>
            <span class="md:text-4xl text-2xl text-gray-300 text-center text-bold font-timmana tracking-wider capitalize">For those who need it the most</span>
            <!-- <button class="py-3 px-4 rounded-lg text-lg text-white text-bold max-w-min mx-auto bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">
            Explore
        </button> -->
        </div>
    </div>