.partial {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* top: 2rem; */
    animation: downward 1s forwards ease-in-out;
}

@keyframes downward {
    0% {
        top: -3rem;
    }
    100% {
        top: 5rem;
    }
}

.cross {
    cursor: pointer;
}


/* @keyframes downward {
    0% {
        top: -3rem;
    }
    25% {
        top: 8rem;
    }
    75% {
        top: 8rem
    }
    100% {
        top: -3rem;
    }
} */
